.GalleryItem {
    border: 1px outset black;
    box-shadow: 5px 5px 10px gainsboro;
    text-align: center;
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 5%;
    background-color: white;

    font-weight: 500;
}

.GalleryItem img {
    width: 100%;
}

.GalleryItem div {
    /* Info & price */
    font-size: 0.85rem;
}

.GalleryItem button {

    background-color: #3030ff;
    color: white;
    font-weight: bold;
    border-radius: 10%;
}

.GalleryItem button:hover {
    background-color: #0000e8;
}

.GalleryItem:hover {
    background-color:#fffff0
}

@media only screen and (min-width: 800px) {
    /* For desktop: */
    .GalleryItem{
    max-width: 30%;
    }
}