.ProductType {
    text-align: center;
}

.Gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

@media only screen and (min-width: 800px) {

    /* For desktop: */
    .Gallery {
        flex-direction: row;
    }
}