
#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  
  background-color: #F4F5F6;
  color: #313638;
}

h1
{
  text-align: center;
}

p{
  margin: 10px;
}

