
#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  
  background-color: #F4F5F6;
  color: #313638;
}

h1
{
  text-align: center;
}

p{
  margin: 10px;
}

.HomePage
{
  text-align: center;
  font-size: calc(14px + 3vmin);
  font-weight: 500;
  padding: 20px;
  a:hover{
    /* color: inherit; */
    background-color: white;
  }
}

